#course {
  position:fixed;
  bottom:110px;
  right:256px;
  padding:5px;
  z-index:100;
  color:yellow
}
#helm-tit {
  position:fixed;
  bottom:80px;
  right:340px;
  padding:5px;
  z-index:100;
  color:yellow
}
#helm {
  position:fixed;
  bottom:80px;
  right:200px;
  padding:5px;
  z-index:100;
}
#latitude {
  position:fixed;
  bottom:220px;
  right:10px;
  padding:5px;
  z-index:100;
  color:yellow
}
#longitude {
  position:fixed;
  bottom:200px;
  right:10px;
  padding:5px;
  z-index:100;
  color:yellow
}
#speed {
  position:fixed;
  bottom:180px;
  right:10px;
  padding:5px;
  z-index:100;
  color:yellow
}
#view {
  position:fixed;
  bottom:160px;
  right:120px;
  padding:5px;
  z-index:100;
  color:yellow
}
#view-fld {
  position:fixed;
  bottom:160px;
  right:10px;
  padding:5px;
  z-index:100;
}
#pitch {
  position:fixed;
  bottom:140px;
  right:120px;
  padding:5px;
  z-index:100;
  color:yellow
}
#pitch-fld {
  position:fixed;
  bottom:140px;
  right:10px;
  padding:5px;
  z-index:100;
}
#roll {
  position:fixed;
  bottom:120px;
  right:120px;
  padding:5px;
  z-index:100;
  color:yellow
}
#roll-fld {
  position:fixed;
  bottom:120px;
  right:10px;
  padding:5px;
  z-index:100;
}
#altitude {
  position:fixed;
  bottom:100px;
  right:120px;
  padding:5px;
  z-index:100;
  color:yellow
}
#altitude-fld {
  position:fixed;
  bottom:100px;
  right:10px;
  padding:5px;
  z-index:100;
}
#throttle {
  position:fixed;
  bottom:80px;
  right:120px;
  padding:5px;
  z-index:100;
  color:yellow
}
#throttle-fld {
  position:fixed;
  bottom:80px;
  right:10px;
  padding:5px;
  z-index:100;
}
#ask {
  position:fixed;
  bottom:140px;
  left:30px;
  padding:5px;
  z-index:100;
  color:yellow
}
#element1 {
  position:fixed;
  bottom:120px;
  left:30px;
  padding:5px;
  z-index:100;
  color:yellow
}
#element2 {
  position:fixed;
  bottom:120px;
  left:170px;
  padding:5px;
  z-index:100;
  color:yellow
}
#element3 {
  position:fixed;
  bottom:120px;
  left:340px;
  padding:5px;
  z-index:100;
  color:yellow
}
#element4 {
  position:fixed;
  bottom:120px;
  left:510px;
  padding:5px;
  z-index:100;
  color:yellow
}
#display {
  position:fixed;
  top:80px;
  left:60px;
  padding:5px;
  z-index:100;
  color:yellow
}

