#helm-title {
  position:fixed;
  bottom:110px;
  right:130px;
  padding:5px;
  z-index:100;
  color:yellow
}
#helm {
  position:fixed;
  bottom:80px;
  right:80px;
  padding:5px;
  z-index:100;
}
#throttle-title {
  position:fixed;
  bottom:110px;
  right:10px;
  padding:5px;
  z-index:100;
  color:yellow
}
#throttle {
  position:fixed;
  bottom:80px;
  right:10px;
  padding:5px;
  z-index:100;
}
